#carta {
    border-radius: 2rem;    
}

.signo1, .signo2 {
    font-size: 7rem;
}

.numero {
    font-size: 11rem;
}

.rojas {
    color: red;
}
 #inferior {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
 }